<div class="container">
  <br>
  <br>
	<form action="./index" method="post">

  <div class="form-group row">%>
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">Event Name</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="eventName" placeholder="Enter the name of the Event" id="example-text-input">
			</div>
				</div>
		</div>
			<%# end of text%>

			<div class="form-group row">
				<div class="col-lg-4 col-lg-offset-4">
			<label for="example-text-input" class="col-lg-4 col-form-label">Date</label>
			<div class="col-10">
				<input class="form-control" type="date" name="date" id="example-text-input">
			</div>
			</div>
			</div>
			<%# end of text%>

			<div class="form-group row">
				<div class="col-lg-4 col-lg-offset-4">
			<label for="example-text-input" class="col-lg-4 col-form-label">Location</label>
			<div class="col-10">
				<input class="form-control" type="text" name="location" placeholder="Enter location" id="example-text-input">
			</div>
			</div>
			</div>
			<%# end of text%>

			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">Email</label>
			  <div class="col-10">
			    <input class="form-control" type="email" name="email" placeholder="Email" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>

			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">First Name</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="firstName" placeholder="First Name" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>

			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">Last Name</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="lastName" placeholder="Last Name" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>


			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">CUNY ID</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="cunyID" placeholder="CUNY ID" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>


			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">Gender</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="gender" placeholder="Gender" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>


			  <div class="form-group row">
					<div class="col-lg-4 col-lg-offset-4">
			  <label for="example-text-input" class="col-lg-4 col-form-label">Phone Number</label>
			  <div class="col-10">
			    <input class="form-control" type="text" name="phoneNumber" placeholder="phoneNumber" id="example-text-input">
			</div>
				</div>
			</div>
			<%# end of text%>

			<div class="form-check row">
				<div class="col-lg-4 col-lg-offset-4">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				I have read the release form provided on this website and consent to my
				photograph being used in/for Queens College media.
			</label>
			</div>
			</div>
			<%# end of text%>

			<br>

			<div class="col-lg-4 col-lg-offset-4">
  <a>
    <button type="submit" class="btn btn-danger btn-block">NEXT</button>
  </a>
		</div>
	</form>
  <%# end of the form%>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	</div>
