<% include ./partials/header %>

<% include ./partials/navbar %>




<div class="homeImg">
	<h1 id="frontTitle">Queens College<br>Creative Services</h1>
</div>


<div class="container">
	<div class=" consent">
		<div class=" txtConsent">
			<h1>Consent and Release Form<br>(General Media)</h1>
		</div>

	<div class="ConsentInfo">
		<p>I am a participant in the above event. i understand that the event will be recorded. i hereby authorize The City University of New York and those acting pursuant to its authority (collectively, “CUNY” ) to:</p>
		<br>
		<ol>
			<li>Photograph, videotape, audiotape, transcribe or otherwise record, in any medium, my participation in the Event;</li>
			<li>Use, Modify, reproduce, publish, exhibit and /or distribute any and all such recordings, in whole or in part, in any manner or medium now known or hereafter developed ( including without limitation, the classroom, print publications, webcasts, podcasts,
				television, and websites), an unlimited number of times in perpetuity throughout the world, for any purpose that CUNY may deem appropriate, including without limitation educational and promotional uses; and</li>
			<li>Use or license others to use my name, image and biographical material in connection with any such recordings or uses, but not as an endorsement of any product or service.</li>
		</ol>
		<br>
		<p>I hereby waive the right to inspect or approve any such recording and uses. I understand that CUNY will be the owner of all rights in and to such recordings and uses, subject to the restrictions described in this consent and release, and retains the
			right not to use the recordings for other than archival purposes. </p>
		<p>I hereby release and hold harmless CUNY from liability for any and all claims by me in connection with CUNY’s activities as authorized by this consent and release. I am age 18 or order,</p>
		<p> or if I am under the age of 18, my parent or legal guardian will review this form and act on my behalf.<br> I have read and fully understand the terms of this consent and release.</p>
	</div>
  </div>
</div>
<%# end of consent container%>


<% include ./partials/consent-form %>



<% include ./partials/footer %>
