<%# header file from partials%>
<% include ./partials/header %>

<%# the navbar is rendered%>
<% include ./partials/navbar %>

<h1>hoshaosajfjiosfjo</h1>

<%# footer file from partials%>
<% include ./partials/footer %>
